{
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "htmlWhitespaceSensitivity": "css",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 80,
  "proseWrap": "always",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 1000
      }
    }
  ],
  "semi": true,
  "trailingComma": "all",
  "useTabs": false
}
