.user .title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 26px;
  color: blue;
}
.user .body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  color: black;
}
.user-box {
  display: flex;
  max-height: 100%;
  overflow-y: scroll;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user {
  border: 2px solid lightblue;
  width: 500px;
  box-shadow: 4px 2px 17px 2px #0f0f0f;
  padding: 10px;
}
